.cv_container {
    padding: 0 20px 20px;
}

.cv {
    min-height: 400px;
    border: 2px solid black;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: white;
}

.details_container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.details_container > div {
    display: flex;
    font-size: 0.8em;
    column-gap: 3px;
}

img {
    height: 18px;
    padding-top: 2px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    margin-top: 10px;
}

.profile {
    padding-left: 20px;
}