.cv_container {
    padding: 0 20px 20px;
}

.cv {
    min-height: 700px;
    border: 2px solid black;
    padding: 20px 40px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: white;
}

.gen_info_container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: -10px;
}

.gen_info_container > div {
    display: flex;
    font-size: 0.8em;
    column-gap: 3px;
}

img {
    height: 18px;
    padding-top: 2px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

.cv > h3 {
    margin-top: 10px;
}

.education, .practical_experience {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profile, .education, .practical_experience, .additional_info {
    padding-left: 20px;
}

.school, .job {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.school_name, .job_name {
    font-weight: 600;
}