.input_card {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    column-gap: 20px;
    margin-bottom: 20px;
    min-height: 77px;
}

.input_card_content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-grow: 1;
}

.input_card > div, .large_input > label {
    color: white;
} 

.svg_container > svg {
    fill: white;
    height: 25px;
    cursor: pointer;
}

.add_button {
    font-family: inherit;
    grid-column: 1 / 3;
    width: 80px;
    height: 40px;
    justify-self: center;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}

.add_button:hover {
    background-color: rgb(228, 228, 228);
}


.edu_exp_inputs_visible {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-bottom: 0;
    grid-column: 1 / 3;
}

.edu_exp_inputs_hidden {
    display: none;
}


.large_input > textarea {
    min-height: 40px;
    margin-bottom: 20px;
}