.education_input {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    column-gap: 20px;
}

.edu_input_content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-grow: 1;
}

.education_input > div {
    color: white;
} 

.education_input > svg {
    fill: white;
    height: 25px;
    cursor: pointer;
}

.collapsible_content > button {
    font-family: inherit;
    grid-row-start: 4;
    grid-column: 1 / 3;
    width: 80px;
    height: 40px;
    justify-self: center;
    border-radius: 10px;
    border: none;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
}

.collapsible_content > button:hover {
    background-color: rgb(228, 228, 228);
}
