
.input_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 20px 30px;
    gap: 20px;
}

.input_section > h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
}

div:nth-child(6) {
    grid-column: 1 / 3;
}

div:nth-child(6) > textarea {
    height: auto;
    min-height: 80px;
    font-family: inherit;
    padding: 5px;
    resize: none;
}