
.input_section {
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    padding: 20px 20px 30px;
    max-height: 110px;
    transition: max-height 0.5s ease;
}

.input_section.expanded {
    max-height: 500px;
}

.input_heading_container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    cursor: pointer;
}

.collapsible_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hidden {
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform-origin: top;
}

.visible {
  transform-origin: top;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
}

svg {
    height: 33px;
    fill: var(--secondary-color);
    margin-top: 3px;
}

.input_heading_container > h2 {
    font-size: 2em;
    color: var(--secondary-color);}

.input {
    display: flex;
    flex-direction: column;
}

.input > label {
    color: white;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

div:nth-child(5) {
    grid-column: 1 / 3;
}

.input > textarea {
    min-height: 80px;
    font-family: inherit;
    padding: 5px;
    resize: none;
    border-radius: 5px;
}