
.input_section {
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    max-height: 80px;
    transition: max-height 0.5s ease;
    margin-bottom: 10px;
}

.input_section.expanded {
    max-height: 1000px;
}

.input_heading_container:hover {
    background-color: rgb(90, 84, 84);
}

.input_heading_container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    cursor: pointer;
    width: 100%;
    height: 72px;
    border-radius: 10px;
}

.collapsible_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px 30px;
  column-gap: 20px;
}

.cc_hidden {
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform-origin: top;
}

.cc_visible {
  transform-origin: top;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
}

svg {
    height: 33px;
    fill: var(--secondary-color);
}

.input_heading_container > h2 {
    font-size: 2em;
    color: var(--secondary-color);}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input > label {
    color: white;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.profile_input, .study_input {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
}

.input > textarea, .study_input > textarea {
    font-family: inherit;
    padding: 5px;
    resize: none;
    border-radius: 5px;
}

.profile_input > textarea {
    min-height: 80px;
}