
.input_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    padding: 20px 20px 30px;
    gap: 20px;
}

.input_heading_container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}

svg {
    height: 33px;
    fill: var(--secondary-color);
    margin-top: 3px;
}

.input_heading_container > h2 {
    font-size: 2em;
    color: var(--secondary-color);}

.input {
    display: flex;
    flex-direction: column;
}

.input > label {
    color: white;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

div:nth-child(6) {
    grid-column: 1 / 3;
}

div:nth-child(6) > textarea {
    height: auto;
    min-height: 80px;
    font-family: inherit;
    padding: 5px;
    resize: none;
    border-radius: 5px;
}