* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(114, 106, 106);
  --secondary-color: rgb(152, 209, 255);

}

#root {
  display: grid;
  grid-template: auto auto / 1fr 1.5fr;
  padding: 0 20px;
}

.inputs_container {
  margin-right: 40px;
}